**.onnx
__pycache__

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints/

# Visualiser artifacts
*.log
build/
binData/
cache/

# Model weights for YOLO 
*.pt
# (except the weights for the gait model)
!Applications_Visualizer/common/Demo_Classes/Helper_Classes/models/*.pt

.vscode
